<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>    
 

   <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 animate-box">
                      <div class="service">
                       <br>
                     
                      <img src="http://karlskogabio.nu/wp-content/uploads/2018/01/Deadpool-22.jpg" width="260" height="340"> </div>
                      
                    </div>
                    <div class="col-md-4 animate-box">
                      <div class="service">
                       <br>
           
                        <img src="https://m.media-amazon.com/images/M/MV5BMTQwNDM2MTMwMl5BMl5BanBnXkFtZTgwMjE4NjQxMTE@._V1_UX182_CR0,0,182,268_AL_.jpg" width="260" height="340"> </div>

                    </div>
                  <div class="col-md-4 animate-box">
                    <div class="service">
                      <br>
           
                      <img src="https://artsmargaretriver.com/wp-content/uploads/2016/06/MeBeforeYou.jpg" width="260" height="340"> </div>
                  </div>
                     <div class="col-md-4 animate-box">
                    <div class="service">
                      <br>
                      
                      <img src="https://cdn.flickeringmyth.com/wp-content/uploads/2018/04/Incredibles-2-poster-5-600x889.jpg" width="260" height="340"> </div>
                  </div>
                     <div class="col-md-4 animate-box">
                    <div class="service">
                      <br>
                     
                      <img src="https://pre00.deviantart.net/b1bd/th/pre/i/2017/351/4/9/harry_potter_and_the_cursed_child_movie_poster_by_bluewolfartista-dbx0d4u.jpg" width="260" height="340"> </div>
                  </div>
                     <div class="col-md-4 animate-box">
                    <div class="service">
                      <br>
                     
                      <img src="http://www.moviepostershop.com/taken-movie-poster-1020433238.jpg" width="260" height="340"> </div>
                  </div>
                    
                </div>
            </div>
        </section>

<!--
including footer content which is common for all pages
-->
<%- include layouts/footer.ejs %>